body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

h1 {
	color: #333;
}

form {
	margin-bottom: 20px;
}
#annotatedImage {
	margin: 10px auto; /* Center it horizontally */
}

#vendor {
	display: block; /* Make the button a block element */
	margin: 10px auto; /* Center it horizontally */
	padding: 10px 20px; /* Add some padding */
	font-size: 16px; /* Font size */
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th, table td {
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
}

table th {
	background-color: #f4f4f4;
}

#submitBtn {
	display: block; /* Make the button a block element */
	margin: 10px auto; /* Center it horizontally */
	padding: 10px 20px; /* Add some padding */
	font-size: 16px; /* Font size */
}